.wrapper {
  display: grid;
  gap: 72px;
}

.oddBlock {
  display: grid;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.inner {
  justify-self: center;
  max-width: 1280px;
  width: 100%;
}

.listWrapper {
  margin: 48px 0 0;
}

.list {
  display: grid;
  @include mq.mq($until: tablet) {
    gap: 36px;
    grid-template: auto / repeat(1, 1fr);
  }
  @include mq.mq($until: wide, $from: tablet) {
    gap: 36px 24px;
    grid-template: auto / repeat(2, 1fr);
  }
  @include mq.mq($from: wide) {
    gap: 48px 24px;
    grid-template: auto / repeat(3, 1fr);
  }
}

.iframeWrapper {
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.iframeWrapper2 {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.iframeWrapper::before,
.iframeWrapper2::before,
.iframeWrapper::after,
.imageWrapper::before {
  content: "";
  display: block;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.iframeWrapper::after {
  z-index: 101;
}

@keyframes SKELETON {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.05);
  }

  50% {
    background: rgba(255, 255, 255, 0.1);
  }
}

.iframeWrapper::before,
.iframeWrapper2::before,
.imageWrapper::before {
  animation: SKELETON 1s infinite linear;
}

.iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}

.title {
  margin: 8px 0 0;
}

.evenBlock {
  background: #35323f;
  display: grid;
  padding-bottom: 60px;
  padding-top: 60px;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
