.wrapper {
  display: grid;
  gap: 72px;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.inner {
  justify-self: center;
  max-width: 1280px;
  width: 100%;
}

.articleInner {
  gap: 24px;
  @include mq.mq($until: tablet) {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  @include mq.mq($from: tablet) {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
  }
}

.descriptionWrapper {
  display: grid;
  gap: 24px;
  line-height: 2;
  margin: 8px 0 0;
}

.article {
  display: grid;
}

.link {
  text-decoration: underline;
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.list {
  display: grid;
}

.item {
  align-items: center;
  display: flex;
  gap: 8px;
  @include mq.mq($until: tablet) {
    justify-content: center;
  }
}

.item::before {
  content: "-";
  display: block;
}
