.wrapper {
  display: grid;
  @include mq.mq($until: desktop) {
    gap: 48px;
  }
  @include mq.mq($from: desktop) {
    gap: 72px;
  }
}

.inner {
  justify-self: center;
  max-width: 1280px;
}

.swiper {
  @include mq.mq($from: desktop) {
    max-height: 506.567px;
  }
}

.swiper :global(.swiper-slide) {
  opacity: 0.25;
  transition: 250ms;
}

.swiper :global(.swiper-slide-active) {
  opacity: 1;
}

.swiper :global(.swiper-button-next),
.swiper :global(.swiper-button-prev) {
  color: #fff;
}

.iframeWrapper {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  @include mq.mq($until: tablet) {
    aspect-ratio: 3 / 4;
  }
  @include mq.mq($from: tablet) {
    aspect-ratio: 16 / 9;
  }
}

.iframeWrapper::before,
.iframeWrapper::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

@keyframes SKELETON {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.05);
  }

  50% {
    background: rgba(255, 255, 255, 0.1);
  }
}

.iframeWrapper::before {
  animation: SKELETON 1s infinite linear;
}

.iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}

.newsBlock {
  background: #35323f;
  display: flex;
  justify-content: center;
  @include mq.mq($until: tablet) {
    padding: 36px 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 60px 24px;
  }
}

.list {
  display: grid;
  @include mq.mq($until: desktop) {
    gap: 36px;
  }
  @include mq.mq($from: desktop) {
    gap: 48px;
  }
}

.item {
  text-align: center;
}

.link {
  text-decoration: underline;
}

.date {
  font-size: 1.4rem;
  margin: 4px 0 0;
}
