.header {
  backdrop-filter: blur(4px);
  background: rgba(42, 42, 42, 0.9);
  display: flex;
  justify-content: center;
  transition: 250ms;
  @include mq.mq($until: tablet) {
    padding: 24px 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 48px 24px;
  }
}

.narrow {
  padding-bottom: 4px;
  padding-top: 4px;
}

.inner {
  align-items: center;
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.h1 {
  font-size: 3.2rem;
  transition: 250ms;
}

.narrow .h1 {
  font-size: 2.4rem;
}

.primaryNavigationWrapper {
  @include mq.mq($until: desktop) {
    display: none;
  }
}

.button {
  @include mq.mq($from: desktop) {
    display: none;
  }
}
